In [1]:
import networkx as nx
from networkx.algorithms import bipartite
import pandas as pd
from matplotlib.pyplot import figure
#import plotly.graph_objects as go

In [2]:
df = pd.read_csv("/Users/dianagonzales/Downloads/BRAZIl_SOY_2.6.0_tc/BRAZIL_SOY_2.6.0_tc.csv", sep=",")
#df = df[df["YEAR"] == 2020]
df = df[['YEAR','EXPORTER GROUP', 'COUNTRY OF FIRST IMPORT', 'TOTAL']]
df = df.groupby(['EXPORTER GROUP', 'COUNTRY OF FIRST IMPORT', 'YEAR']).sum('TOTAL')
df.reset_index(inplace = True)

In [3]:
# full set
exp_all = pd.DataFrame(df['EXPORTER GROUP'].unique())
imp_all = pd.DataFrame(df['COUNTRY OF FIRST IMPORT'].unique())

df_all = pd.merge(exp_all, imp_all, how="cross")

df_all.rename(columns = {"0_x":"EXPORTER GROUP", "0_y":"COUNTRY OF FIRST IMPORT"}, inplace=True)

In [16]:
d2020 = df_all.merge(df[df["YEAR"] == 2004], on=['EXPORTER GROUP','COUNTRY OF FIRST IMPORT'], how='left')
d2020['TOTAL'].fillna(0, inplace=True)
d2020['net'] = sum(d2020['TOTAL'])
d2020['share'] = (d2020['TOTAL'] / d2020['net']) ** 2
d2020.sort_values('TOTAL', ascending=False)

sum(d2020['share'])

0.07842753100975461

In [14]:
trade_adj = {}
trade_list = {}

keys = list(range(2004,2021))

for i in range(0,17):
    hola = df_all.merge(df[df["YEAR"] == keys[i]], on=['EXPORTER GROUP','COUNTRY OF FIRST IMPORT'], how='left')
    hola.fillna(0, inplace=True)
    trade_list[keys[i]] = hola
    hola = hola.pivot_table(columns='EXPORTER GROUP', index='COUNTRY OF FIRST IMPORT').reset_index()
    trade_adj[keys[i]] = hola

In [15]:
hhi = []

for i in range(0,17):
    d = trade_list[keys[i]]
    d['share'] = (d['TOTAL'] / (sum(d['TOTAL']))) **2
    hhi.append(sum(d['share']))
    
HHI = pd.DataFrame(zip(keys,hhi), columns=['YEAR', 'HHI'])
HHI

    YEAR       HHI
0   2004  0.078428
1   2005  0.061438
2   2006  0.071968
3   2007  0.119649
4   2008  0.130007
5   2009  0.080626
6   2010  0.136003
7   2011  0.128618
8   2012  0.080298
9   2013  0.101407
10  2014  0.102852
11  2015  0.087245
12  2016  0.103129
13  2017  0.090013
14  2018  0.050728
15  2019  0.081476
16  2020  0.052482

In [17]:
d2020 = trade_list[2020]
d2020['share'] = (d2020['TOTAL'] / (sum(d2020['TOTAL']))) **2
sum(d2020['share'])

0.052481915708437334

In [ ]:
alan = []
for i in range(0, len(df)):
    alan.append((df.loc[i]["EXPORTER GROUP"], df.loc[i]["COUNTRY OF FIRST IMPORT"], {'exports': df.loc[i]["TOTAL"]}))

In [ ]:
B = nx.Graph()

B.add_nodes_from(df['EXPORTER GROUP'].unique().tolist(), bipartite="firm")
B.add_nodes_from(df['COUNTRY OF FIRST IMPORT'].unique().tolist(), bipartite="country")
B.add_edges_from(alan)

In [ ]:
B.edges(data=True)

In [ ]:
firm_nodes = {n for n, d in B.nodes(data=True) if d["bipartite"] == "firm"}
country_nodes = set(B) - firm_nodes

In [ ]:
country_nodes

In [ ]:
a = nx.generate_adjlist(B)

In [ ]:
nx.degree_centrality(B)

In [ ]:
#nodos = {}
#for x in B.nodes:
#    nodos[x] = len(B[x])
#s = pd.Series(nodos, name='connections')
#df2 = s.to_frame().sort_values('connections', ascending=False)

In [ ]:
#one = df2[df2['connections'] == 1].index.to_list()

In [ ]:
#df3 = df[~df['EXPORTER GROUP'].isin(one)]

In [ ]:
#G = nx.from_pandas_edgelist(df3, 'EXPORTER GROUP', 'COUNTRY OF FIRST IMPORT', ['TOTAL'])
figure(figsize=(10, 8))
nx.draw_shell(B, with_labels=False)

In [ ]:
if self.time > 0:
            prev = nx.adjacency_matrix(self.graphs[-1]).A
            curr = nx.adjacency_matrix(self.G).A
            change = sum(sum(abs(curr - prev)))
            maximum = sum(sum(prev)) + sum(sum(curr))
            self.diff = change/maximum if maximum > 0 else 0
        self.graphs.append(self.G.copy())

In [ ]:
        list_firms = [agent for agent in self.schedule.agents if type(agent) is Firm]
        #list_hh = [agent for agent in self.schedule.agents if type(agent) is Household]
        # iterate thorugh a dictionary of agents in aa fast way
        tot_revenues = [firm.revenue for firm in list_firms]
        # normalize the revenue to have a value between 0 and 1
        if sum( tot_revenues) > 0:
            revenue = [x / sum( tot_revenues) for x in  tot_revenues]
            # square the revenue
            revenue = [x ** 2 for x in revenue]
            # sum the revenue
            self.HHI = sum(revenue)
        else:
            self.HHI = 0

In [ ]:
exp_all = pd.DataFrame(df['EXPORTER GROUP'].unique())
imp_all = pd.DataFrame(df['COUNTRY OF FIRST IMPORT'].unique())

df_all = pd.merge(exp_all, imp_all, how="cross")

trade_year = {}

for i in range(2005,2020):
    nombre = "year_"+str(i)
    trade_year.append(nombre)   
    
trade_year

In [ ]:


#df = pd.DataFrame(columns=exp_all, index=imp_all)

In [ ]:
len(df['EXPORTER GROUP'].unique()) * len(df['COUNTRY OF FIRST IMPORT'].unique())

In [ ]:
df_all.merge()